<section class="section">
  <h1 class="title is-1">New site</h1>

  <%#= render "form", site: @site %>

  <% @repository_names.each do |repo_detail| %>
    <%= form_with model: [:user, @site] do |form| %>
      <%= form.text_field :repo, value: repo_detail[:repo], readonly: true, style: "width: 250px" %>
      <%= form.hidden_field :installation_id, value: repo_detail[:installation_id], style: "width: 250px" %>
      <%= form.text_field :branch, value: 'main' %>
      <%= form.submit 'New Docs', disabled: @user.sites.map(&:repo).include?(repo_detail[:repo]) %>
    <% end %>
<!--    <div class='level'>-->
<!--      <div>-->
<!--        <span><%#= repo %></span>-->
        <%#= button_to 'New Docs', user_sites_path(action: :create, site: { repo: repo }), class: 'button', disabled: @user.sites.map(&:repo).include?(repo) %>
<!--      </div>-->
<!--    </div>-->
  <% end %>

  <br>

  <div>
    <%= link_to "Back to sites", user_sites_path %>
  </div>
</section>
